*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: 0;
}

.btn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: cornflowerblue;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.btn.load-btn {
  font-size: 18px;
  padding: 30px 20px;
  background: limegreen;
}

.btn.add-client-btn {
  font-size: 18px;
  padding: 30px 20px;
  background-color: cornflowerblue !important;
}

.btn:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  transition: all 0.4s ease 0s;
}

.container {
  padding: 40px 60px;
}

.p-top-40 {
  padding-top: 40px;
}

header {
  /* height: 50px; */
  background-color: cornflowerblue;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 750px) {
  .menu {
    flex-direction: row;
  }
}

.menu__item {
  padding-top: 20px;
  cursor: pointer;
}
.menu__item:last-child {
  padding-bottom: 20px;
}

@media (min-width: 750px) {
  .menu__item {
    padding: 20px;
  }
}

.menu__item a,
.menu__item a:visited,
.menu__item a:hover,
.menu__item a:active {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.menu__item a:hover,
.menu__item a:active {
  color: aquamarine;
}

.message {
  margin-top: 30px;
}

/************** Board Page **************/

.board {
  display: flex;
  justify-content: center;
}

#clients {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

@media (min-width: 750px) {
  #clients {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  #clients {
    width: 60%;
  }
}

#clients td,
#clients th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#clients tr:nth-child(even) {
  background-color: #f2f2f2;
}

#clients tr:hover {
  background-color: #ddd;
}

#clients th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: cornflowerblue;
  color: white;
}

/************** Specialist Page **************/
.specialists{
  display: flex;
  justify-content: center;
}

select.choose-specialist{
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  background-color: cornflowerblue;
  color: white;
}

.active-client{
  background-color: Khaki!important;
}